@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>
<h1 style="text-align: center">Cześć</h1>
<hr />

<div class="row">
    <div class="col">
        <div class="card" style="max-width: 500px; margin: auto">

            <div class="card-header">

                <div class="text-center">
                    <h3>Podaj dane</h3>
                </div>

            </div>

            <div class="card-body">
                <form id="myForm" method="post">

                    <div class="mb-3">
                        <input asp-for=FizzBuzz.Number type="number" class="form-control" placeholder="Rok">
                    </div>

                    <div class="mb-3">
                        <input asp-for=FizzBuzz.Name type="text" class="form-control" placeholder="Imię">
                    </div>

                    <div class="mb-3">
                        <button id="submitBtn" type="submit" class="btn btn-primary">Zatwierdź</button>
                    </div>

                    <div class="alert alert-success" role="alert">
                        <h8 class=" alert-heading">
                            @Model.FizzBuzz.Name urodził/a się w @Model.FizzBuzz.Number roku. To @Model.FizzBuzz.Result rok przestępny
                        </h8>

                    </div>
                </form>
            </div>

            <div class="card-footer">
            </div>

        </div>
    </div>
</div>
